@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200&display=swap");

.main-container {
  display: flex;
  height: 100vh;
  font-size: 16px;
}

.Container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 50%;
  background-image: linear-gradient(rgba(82, 0, 255, 0.8), rgba(82, 0, 255, 0.8)), url("69.jpg");
  background-position-x: right;
  background-size: cover;
}

.Container2 {
  width: 50%;
  height: 100vh;
}

#login {
  background-color: #5200ff;
  width: 10em;
  height: 5em;
  font-family: "Poppins";
  color: #ffff;
  align-items: center;
  border: none;
}

.Text-wrapper {
  font-style: regular;
}

h1 {
  font-family: "Bebas Neue", cursive;
  align-items: center;
  justify-content: center;
  color: #ffff;
  font-weight: normal;
  font-size: 3.125em;
  text-align: right;
}

.Text {
  font-family: "Poppins", sans-serif;
  align-items: center;
  justify-content: center;
  color: #ffff;
  font-weight: normal;
  font-size: 1.1875em;
  text-align: right;
}

.account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding-left: 10em;
}

.btn-log {
  padding: 0.8em;
  margin-top: 1em;
}

.Name {
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

.Email {
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

input[type="text"] {
  background-color: #ededed;
  width: 32em;
  height: 4em;
  border: none;
  margin-bottom: 2em;
}

input[type="email"] {
  background-color: #ededed;
  width: 32em;
  height: 4em;
  border: none;
  margin-top: 2em;
}

@media only screen and (max-width: 771px) {
  .main-container {
    flex-direction: column;
  }

  .Container1 {
    width: 770px;
    height: 100%;
  }

  .account {
    display: flex;
    height: auto;
    padding: 5.1em 3.9em 0 3.9em;
  }

  .input {
    display: flex;
    flex-direction: row;
  }
  input[type="text"] {
    width: 19em;
    margin-top: 0.8em;
  }
  input[type="Email"] {
    width: 19em;
    margin-top: 0.8em;
    margin-left: 0.8em;
  }
  .input-wrapper {
    display: flex;
    justify-content: center;
  }

  h1 {
    text-align: center;
  }
  .Email {
    margin-left: 0.5em;
  }

  .Text {
    text-align: center;
  }

  .Container2 {
    width: 100%;
  }

  #login {
    margin-left: 3.6em;
    font-size: 1.125em;
  }
}

@media only screen and (max-width: 510px) {
  .Container1 {
    width: 100%;
  }
  .Container2 {
    display: flex;
    flex-direction: column;
  }
  .account {
    flex-direction: column;
  }
  .input-wrapper {
    flex-direction: column;
  }
  #textbox {
    width: 21.875em;
  }
  input[type="email"] {
    width: 21.3em;
    margin-left: none;
  }
}
